.loader-container {
  width: 60px;
  display: flex;
  height: 60px;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.loader-item {
  margin: 0 3px;
  height: 50%;
  width: 5px;
  background-color: #5746f1;
  transition: all 0.05 cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: growItem linear 0.5s infinite;
  border-radius: 8px;
}

.loader-container .loader-item:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-container .loader-item:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-container .loader-item:nth-child(3) {
  animation-delay: 0.25s;
}
.loader-container .loader-item:nth-child(4) {
  animation-delay: 0.3s;
}

.loader-container .loader-item:nth-child(5) {
  animation-delay: 0.35s;
}

@keyframes growItem {
  from {
    height: 50%;
  }
  to {
    height: 90%;
  }
}
